{% extends 'base.html.twig' %}

{% block title %}Tours index{% endblock %}

{% block body %}
    <h1>Tours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Base_cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>{{ tour.id }}</td>
                <td>{{ tour.name }}</td>
                <td>{{ tour.date ? tour.date|date('Y-m-d') : '' }}</td>
                <td>{{ tour.baseCost }}</td>
                <td>
                    <a href="{{ path('tours_show', {'id': tour.id}) }}">show</a>
                    <a href="{{ path('tours_edit', {'id': tour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tours_new') }}">Create new</a>
{% endblock %}