{% extends 'base.html.twig' %}

{% block title %}ClientTourCost index{% endblock %}

{% block body %}
    <h1>ClientTourCost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client_tour_cost in client_tour_costs %}
            <tr>
                <td>{{ client_tour_cost.id }}</td>
                <td>{{ client_tour_cost.cost }}</td>
                <td>
                    <a href="{{ path('client_tour_cost_show', {'id': client_tour_cost.id}) }}">show</a>
                    <a href="{{ path('client_tour_cost_edit', {'id': client_tour_cost.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_tour_cost_new') }}">Create new</a>
{% endblock %}