{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>{{ client.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Vk</th>
                <td>{{ client.vk }}</td>
            </tr>
            <tr>
                <th>Telegram</th>
                <td>{{ client.telegram }}</td>
            </tr>
            <tr>
                <th>Tail</th>
                <td>{{ client.tail }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Список платежей клиента</h4>
    <table class="table active">
        {% for payment in client.payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.sum }}</td>
                <td>{{ payment.proccedTime ? payment.proccedTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('payment_show', {'id': payment.id}) }}">show</a>
                    <a href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}