{% extends 'base.html.twig' %}

{% block title %}Tour index{% endblock %}

{% block body %}
    <h1>Tour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Base_cost</th>
            </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>
                    <a href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>
                </td>
                <td>{{ tour.id }}</td>
                <td><a href="{{ path('tour_show', {'id': tour.id}) }}">{{ tour.name }}</a></td>
                <td>{{ tour.date ? tour.date|date('Y-m-d') : '' }}</td>
                <td>{{ tour.baseCost }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tour_new') }}">Create new</a>
{% endblock %}