{% extends 'base.html.twig' %}

{% block title %}Tour{% endblock %}

{% block body %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-file-text-o"></i> {{ tour.name }}</h1>
            <p>A Printable Invoice Format</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Invoice</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <section class="invoice">
                    <div class="col-4">
                        <strong>Дата: </strong><p>{{ tour.date|date("Y-m-d") }}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Список участников</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID клиента</th>
                        <th>ФИО</th>
                        <th>Vk</th>
                        <th>Tg</th>
                        <th>Рост</th>
                        <th>Телефон</th>
                        <th>Оплаты</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total_sum = 0 %}
                    {% set total_num = 1 %}
                    {% for client in tour.clients %}
                    <tr>
                        <td>{{ total_num }}</td>
                        <td>{{ client.id }}</td>
                        <td><a href="{{ path('client_show', {'id': client.id}) }}">{{ client.name }}</a></td>
                        <td><a target = _blank href="{{ client.vk }}">{{ client.vk }}</a></td>
                        <td><a target = _blank href="https://tlgg.ru/{{ client.telegram }}">@{{ client.telegram }}</a></td>
                        <td>{{ client.tail }}</td>
                        <td><a href="tel:{{ client.phone }}">{{ client.phone }}</a></td>
                        <td>
                            {% set client_total_sum = 0 %}
                            {% for payment in client.payments %}
                                {% if payment.tour.id == tour.id %}
                                    {% set client_total_sum = client_total_sum + payment.sum %}
                                {% endif %}
                            {% endfor %}
                            {% set total_sum = total_sum + client_total_sum %}
                            <span class="client_payment">{{ client_total_sum }}</span>
                            <input type="text" class="payment_sum">
                            <button class="add_payment" data-sum="{{ client_total_sum }}" data-client_id="{{ client.id }}" data-tour_id="{{ tour
                            .id }}">добавить платеж</button>
                            <p class="greeting-content"></p>
                        </td>
                    </tr>
                    {% set total_num = total_num + 1 %}
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7" class="text-right">Всего</td>
                        <td><span class="total_payments">{{ total_sum }}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Расходы</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Статья расхода</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total_sum = 0 %}
                    {% for expense in tour.expenses %}
                        <tr>
                            <td>{{ expense.type }}</td>
                            <td>{{ expense.sum }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('tour_index') }}">back to list</a>

    <a href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>
    <a target = _blank href="{{ path('tour_summary', {'id': tour.id}) }}">summary</a>

    {{ include('tour/_delete_form.html.twig') }}
{% endblock %}