{% extends 'base.html.twig' %}

{% block title %}Tour{% endblock %}

{% block body %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-file-text-o"></i> {{ tour.name }}</h1>
            <p>A Printable Invoice Format</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Invoice</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <section class="invoice">
                    <div class="col-4">
                        <strong>Дата: </strong><p>{{ tour.date|date("Y-m-d") }}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="col-md-12">
    <div class="tile">
    <h3 class="tile-title">Список участников</h3>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID клиента</th>
                <th>ФИО</th>
                <th>Рост</th>
                <th>Телефон</th>
                <th>Оплаты</th>
        </thead>
        {% set total_sum = 0 %}
        {% for client in tour.clients %}
            <tbody>
            <tr>
                <td>{{ client.id }}</td>
                <td><a href="{{ path('client_show', {'id': client.id}) }}">{{ client.name }}</a></td>
                <td>{{ client.tail }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    {% set client_total_sum = 0 %}
                    {% for payment in client.payments %}
                        {% if payment.tour.id == tour.id %}
                            {% set client_total_sum = client_total_sum + payment.sum %}
                        {% endif %}
                    {% endfor %}
                    {% set total_sum = total_sum + client_total_sum %}
                    {{ client_total_sum }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="4" class="text-right">Всего</td>
                <td>{{ total_sum }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>

    <a href="{{ path('tour_index') }}">back to list</a>

    <a href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>

    {{ include('tour/_delete_form.html.twig') }}
{% endblock %}